

.btnArea{
    background-color: #8b8b8b;
    width: 100%;
    height: 470px;

   
}
.btnArea input{
    display: inline-block;
    

}

.pesquisa  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 20px;
   
}
.pesquisa input {
    height: 50px;
    width: 650px;
    border-radius: 35px;
    font-size: 25px;
    padding-left: 40px;
}

.btnPesquisar input{
    border-radius: 25px;
}
.headerImagem img{
    /* background-image: url(./../images/MicrosoftTeams-image\ \(2\).png); */
    height: 385px;
    width: 100%;
}
button{
    width: 170px;
    height: 50px;
    border-radius: 15px;
    color: green;
    margin-left: 50px;
    font-size: 25px;
}
.icone{
    margin-left: -640px;
    color: green;
    margin-right: 640px;
    font-size: 25px;
}
